body h1{
     margin: 10px;
    text-align: center;
    margin-bottom: 100px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
}               
.box {
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
}
.box h2 {
    float: left;
    margin: 0;
}
.box button {
    float: right;
    margin-top: 10px;
}
.container {
    margin-top: 50px;
}
#update_button {
    margin-top: 20px;
    padding: 10px 20px;
    display: block;
}
#delete_button {
    margin-top: 20px;
    padding: 10px 20px;
    display: block;
}
body h3{
    text-align: center;
    margin: 20px 0;
    color:red;
}
